*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 75px 0px 0;
}
.header{
    /* border: solid red; */
    background:#4f0113;
    height: 75px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav{
    /* border: solid rgb(31, 16, 16); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    

}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    /* border: solid; */
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-left: 70px;
    letter-spacing: 5px;
}
.nav-menu{
    /* border: solid rgb(24, 231, 9); */
    display: flex;
    margin-right: 30px;
    list-style: none;
    text-transform:uppercase;

}
.nav-menu-item{
    /* border: solid red; */
    font-size: 15px; 
    line-height: 35px;
    margin-inline-end: 40px;
}

.nav-menu-item:hover{
    font-weight: bold;
    transition: 0.5s;
    transform: scale(1.6, 1.6);
    
}

.nav-toggle{
    border: solid rgb(7, 231, 243);
    color:white;
    background: none;
    border: none;
    font-size: 30px;
    margin-left: 40px;
    display: none;
}

.cesar{
    width: 100%;
    height: 400px;
}
@media (max-width:768px){
    body {
        padding: 60px 0px 0;
        background: rgb(221, 210, 210);
    }
    .header{
        /* border: solid greenyellow; */
        display: flex;
        align-items: center;
        height: 60px;
        /* position: fixed; */
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
    }
    .nav{
        display: flex;
        /* justify-content:center; */
        max-width: 992px;
        margin: 0 auto;
    }
    .nav-link{
        /* border: solid greenyellow; */
        color: white;
        margin-left: 20px;
    }
    
    .logo{
        /* border: solid; */
        font-size: 25px;
        font-weight: bold;
        margin-left: 50px;
    }
    .nav-menu{
        /* border: solid red; */
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.784);
        position: fixed;   
        top: 60px;
        width: 40%;
        height: calc(100% - 10px);
        overflow-y: auto;
        left: 100%;
        transition: 0.4s;
    }

    .nav-menu-item:hover{
        
      width: 100%;
      height: 18%;
      background-color: rgba(82, 8, 101, 0.594);
      margin-left: 0px;
      transition: 0.9s;
      transform: none;
    }
  

    /* .nav-menu-item:hover{
        font-weight: bold;
        transition: 0.5s;
        transform: scale(1.6, 1.6);
        
    } */
    .nav-menu-item{
        font-size: 20px;
        line-height: 100px;
        
    }
    
    .nav-toggle{
        /* border: solid red; */
        margin-left: 20px;
        display: block;
    
    }
    .nav-menu_visible {
        left: 0;
    }

}